.button {
  height: 2.75rem;
  font: var(--large-bold-text);
  background-color: var(--verizon-black);
  color: var(--verizon-white);
  border: none;
  border-bottom: 1px solid var(--dark-grey);
  flex-grow: 1;
}

.button.active {
  border: none;
  background-color: var(--verizon-white);
  color: var(--verizon-black);
}

.button:disabled,
.button.highlighted:disabled {
  opacity: 0.8;
  color: var(--secondary-text-color);
  cursor: not-allowed;
}

.round {
  margin: 0 var(--padding) calc(var(--unit) / 2);
  width: calc(100% - calc(var(--padding) * 2));
  border-radius: 2rem;
  background-color: var(--dark-grey);
  color: var(--verizon-white);
  border: none;
}

.button:hover,
.round.active,
.round.highlighted {
  background-color: var(--verizon-white);
  color: var(--verizon-black);
}
